* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
}

#calculator {
  width: 280px;
  padding: 1rem;
  border-radius: 0.5rem;
  background: gray;
}

#display {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 7rem;
  min-width: 0;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: lightgray;
  overflow-x: auto;
  overflow-y: hidden;
}

#display #expression {
  direction: ltr;
  flex-shrink: 0;
  white-space: nowrap;
  height: 4rem;
  padding: 0.25rem;
  line-height: 3.5rem;
  font-size: 3.5rem;
  font-weight: 400;
}

#display #result {
  direction: ltr;
  flex-shrink: 0;
  white-space: nowrap;
  height: 3rem;
  padding: 0.25rem 0.25rem 1.5rem 0.25rem;
  line-height: 1.25rem;
  font-size: 1.25rem;
  font-weight: 100;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
}

#keyboard .btn {
  min-width: 44pt;
  min-height: 44pt;
}

#keyboard #eq-btn {
  background-color: orange;
}
