* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: 0.75rem;

  color: #6c7587;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: #f0f0f3;
}

button {
  font-family: inherit;
  color: inherit;
}

.custom-input {
  position: relative;
  user-select: none;
}

.custom-input input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.custom-input .input-visual {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

.custom-input .label-text {
  color: gray;
  font-weight: 700;
  transition: color 0.2s ease-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.675rem;
  height: 3.675rem;
  border: none;
  border-radius: 100%;
  font-weight: 300;
  box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec040;
  background-color: #f0f0f3;
  text-shadow: 1px 1px white;
}

.btn:active {
  box-shadow: inset -10px -10px 10px #ffffff70, inset 10px 10px 10px #aeaec020;
}

#app {
  margin: 0 auto;
}

#calculator {
  width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec040,
    inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #fff;
  background-color: #f0f0f3;
}

#calculator header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.5rem 1rem 1.25rem 1rem;
}

#calculator header label {
  width: 2.5rem;
  height: 2.5rem;
}

#power-btn ~ .input-visual.btn {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s ease-in-out;
}

#power-btn:checked ~ .input-visual.btn {
  box-shadow: inset -10px -10px 10px #ffffff70, inset 10px 10px 10px #aeaec020;
  color: #d5ffea;
  text-shadow: 1px 1px 2px #d5ffea;
}

#display {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 7rem;
  min-width: 0;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #f0f0f3;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: inset -10px -10px 10px #ffffff70, inset 10px 10px 10px #aeaec020;
}

#display #expression {
  direction: ltr;
  flex-shrink: 0;
  white-space: nowrap;
  height: 4rem;
  padding: 0.5rem 0.5rem 0.25rem 0.25rem;
  line-height: 3.25rem;
  font-size: 3.25rem;
  font-weight: 400;
}

#display #result {
  direction: ltr;
  flex-shrink: 0;
  white-space: nowrap;
  height: 3rem;
  padding: 0.25rem 0.5rem 1.5rem 0.25rem;
  line-height: 1.25rem;
  font-size: 1.25rem;
  font-weight: 100;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.btn#eq-btn {
  background-color: #ffd7a0;
}

.btn#eq-btn:active {
  box-shadow: inset -10px -10px 10px #ffd7a070, inset 10px 10px 10px #f0c992aa;
}

.btn[data-type='operator'],
.btn#parentheses-btn,
.btn#ac-btn,
.btn#eq-btn {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1rem;
  }

  .btn {
    font-weight: 400;
  }

  .btn[data-type='operator'],
  .btn#parentheses-btn,
  .btn#ac-btn,
  .btn#eq-btn {
    font-weight: 600;
  }
}
